/*99.9% match*/
<div></div>
<div2></div2>

<style>
  div {
    clip-path: polygon(23% 0%, 75.8% 0%, 100% 100%, 0% 100%);
    width: 128px;
    height: 120px;
    background: #FFFBDA;
    position:absolute;
    bottom:90px;
    right:136px;
  }
  div2 {
    width: 10px;
    height: 90px;
    background: #62306D;
    position:absolute;
    bottom:0;
    right:195px;
  }
  body
  {
    background:#E38F66;
  }
</style>