/*98.5%*/

<div></div>
<div2></div2>
<style>
  div {
    
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    position:absolute;
    right:0;
  }
    div2 {
    margin:50px, 50px, 0 ,0 ;
    rotate: 45deg;
    width: 160px;
    height: 150px;
    border-radius: 0 0 50% 50%;
    background: #D9D9D9;
    position:absolute;
    right:50px;
    top:55px
  }

body
{
  margin:0;
  background: #E3516E;
]